body {
    margin: 0;
    font-family: Nunito Sans, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #ffffff;
}
body * {
    box-sizing: border-box;
}
.title {
    margin: 0;
    font-family: Yeseva One, "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #ffffff;
}
.subtitle {
    margin: 0;
    font-family: Yeseva One, "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #e3b873;
}
.middle {
    margin: 0;
    font-family: Yeseva One, "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #ffffff;
}
.small {
    margin: 0;
    font-family: Yeseva One, "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #ffffff;
}
.button {
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: #e3b873;
    text-transform: uppercase;
    text-align: center;
    border-radius: 2px;
    outline: 0;
    border: 0;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    cursor: pointer;
}
.form__field {
    display: flex;
    flex-direction: column;
}
.form__label {
    font-size: 13px;
    line-height: 21px;
}
.form__input {
    font-size: 14px;
    line-height: 22px;
    border: none;
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.form__input:focus {
    outline: none;
}
.form__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 76px;
}
.form__checkbox_input[type=checkbox] {
    display: none;
}
.form__checkbox_input[type=checkbox] + .form__checkbox_label::before {
    content: '\2714';
    cursor: pointer;
    font-size: 18px;
    line-height: 1;
    border: 1px solid #e3b873;
    border-radius: 1px;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 8px;
    text-align: center;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}
.form__checkbox_input[type=checkbox]:checked + .form__checkbox_label::before {
    background-color: #e3b873;
    border-color: #e3b873;
    color: #ffffff;
}
.orange_text {
    color: #e3b873;
}

/*--HEADER--*/
.header {
    background: #181818;
}
.navigation__container {
    height: 83px;
    max-width: 1256px;
    margin: 0 auto;
}
.navigation_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
.navigation__list{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.navigation__items {
    margin-right: 47px;
}
.navigation__items_link {
    color: #ffffff;
    text-decoration: none;
}
.navigation__items_link:hover {
    color: #e3b873;
    text-decoration: underline;
}
.navigation__button {
    width: 161px;
    height: 37px;
    font-size: 11px;
    font-style: italic;
    line-height: 15px;
}

/*--FRONT--*/
.front {
    height: 707px;
    background: url("../image/bg01.png");
    position: relative;
    background-size: cover;
}
.front::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000CC;
}
.front__container {
    max-width: 1171px;
    margin: 0 auto;
}
.front__content {
    position: relative;
    padding-top: 194px;
}
.front__text-content {
    font-size: 22px;
    line-height: 36px;
}
.front__button {
    width: 207px;
    height: 51px;
    font-size: 11px;
    font-style: italic;
    line-height: 15px;
    margin-right: 11px;
}
.front__button-transparent {
    content: 'Submit your application';
    width: 207px;
    height: 51px;
    font-size: 11px;
    font-style: italic;
    line-height: 15px;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
}
.front__button-transparent::before {
    content: 'Submit your application';
}

/*--PROJECTS--*/
.projects__column2_scroll {
    display: none;
}
.projects {
    background: #131313;
}
.projects__container {
    max-width: 1171px;
    height: 1074px;
    margin: 0 auto;
}
.projects__content {
    padding-top: 107px;
    display: flex;
    flex-direction: column;
}
.projects__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 679px;
    align-self: flex-end;
    padding: 0;
    text-align: left;
}
.projects__items {
    margin: 0 auto 0 0;
    font-family: Yeseva One, "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
}
.projects__items:first-of-type {
    color: #e3b873;
    border-bottom: 1px solid #e3b873;
}
.projects__items_link {
    color: #ffffff4d;
    text-decoration: none;
}
.projects__columns {
    margin-top: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 482px;
}
.projects__column1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.projects__column1_text-content {
    margin: 34px 0 42px;
    font-size: 14px;
    line-height: 27px;
}
.column1__specification_text-content {
    font-size: 13px;
    line-height: 21px;
}
.projects__column1_specification {
    width: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}
.projects__column2 {
    margin-left: 55px;
}
.column1__specification {
    padding-bottom: 34px;
    display: flex;
    flex-direction: column;
    width: 195px;
}
.column1__specification_title {
    padding-bottom: 9px;
    color: #e3b873;
}
.column1__specification_text-conten {
    font-size: 13px;
    line-height: 21px;
}
.emtry {
    flex: 1 1 auto;
}
.projects__column1_scroll {
    justify-self: flex-end;
    width: 206px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.control {
    margin-top: -320px;
}
.control__container {
    max-width: 1171px;
    margin: 0 auto;
}
.control__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon {
    width: 116px;
    padding: 23px 0 31px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.icon__line {
    width: 32px;
    height: 1.5px;
    border: none;
    border-radius: 30px;
    background-color: #e3b873;
}
.control__player {
    position: relative;
}
.control__player::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000CC;
}
.control__player_button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #e3b873;
    display: flex;
    justify-content: center;
    align-items: center;
}
.control__player_play {
    padding-left: 2px;
}
.control__bottomline {
    margin: 62px 0 32px 0;
    width: 55px;
    height: 1.5px;
    border: none;
    border-radius: 30px;
    background-color: #e3b873;
}
.control__text-content {
    max-width: 680px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    padding-bottom: 88px;
}
.control__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.control__form_items {
    width: 817px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.control__items_label {
    color: #36363680;
}
.control__items_field {
    padding-right: 58px;
}
.control__items_input {
    width: 231px;
    color: #363636;
    border-bottom: 1px solid #3636364d;
}
.control__items_input::placeholder {
    color: #363636;
}
.control__items_button {
    width: 200px;
    height: 51px;
}
.control__checkbox {
    padding-top: 35px;
}
.control__form_checkbox_label {
    font-size: 14px;
    color: #181818;
    margin-top: 5px;
}
.types__container {
    padding-top: 30px;
    max-width: 1264px;
    margin: 0 auto;
}
.types__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.types__title {
    color: #181818;
}
.types__partition1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.partition1__block {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.partition1__info {
    margin: -171px 0 50px 0;
    width: 330px;
    height: 286px;
    background: #ffffff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}
.partition1___title {
    margin: 25px 0 0 34px;
    color: #363636;
    text-transform: capitalize;
}
.partition1__list {
    margin-left: 10px;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}
.partition1__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 228px;
    height: 54px;
    background: #e3b873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.03);
}
.types__partition2 {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 540px;
    background-image: url("../image/bg02.png");
    background-repeat: no-repeat;
}
.partition2__block {
    width: 527px;
    margin-left: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.partition2__info {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.partition2__info_point {
    margin-right: 21px;
    background: #e3b873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info__point_text-content {
    font-size: 14px;
    color: #363636;
    line-height: 19px;
}
.types__form {
    width: 506px;
    height: 509px;
    background: #131313;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.types__form_text-content {
    margin: 0;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
}
.types__form_items {
    display: flex;
    flex-direction: column;
}
.types__items_label {
    color:  rgba(255, 255, 255, 0.5);
}
.types__items_input {
    width: 408px;
    color: #ffffff;
    margin-bottom: 48px;
}
.types__items_input::placeholder {
    color: #ffffff;
}
.types__form_checkbox {
    margin-top: -24px;
    justify-content: flex-start;
    padding-bottom: 0;
}
.types__form_checkbox_label {
    font-size: 14px;
    color: #FFFFFF;
}
.types__form_button {
    align-self: flex-end;
    margin-top: 39px;
    width: 213px;
    height: 51px;
    font-size: 13px;
}
.types__partition3 {
    margin: 20px 160px 0 auto;
}
.partition3__block {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.partition3__block_point {
    width: 72px;
    height: 72px;
    background: #e3b873;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}
.partition3__block_text-content {
    color: #e3b873;
    font-size: 18px;
    line-height: 26px;
}

/*--FANTASIES--*/

.partition__interior_mobile {
    display: none;
}
.fantasies {
    margin-top: 242px;
    background: url("../image/bg03.png");
    position: relative;
    background-size: cover;
    height: 864px;
}
.fantasies::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
}
.fantasies__container {
    max-width: 1264px;
    margin: 0 auto;
}
.fantasies__content {
    display: flex;
    flex-direction: row;
}
.fantasies__partition {
    position: relative;
    width: 1264px;
    display: flex;
    flex-direction: row;
    padding-bottom: 140px;
}
.partition__direction {
    margin-top: 120px;
    margin-left: 100px;
}
.direction__title {
    margin-bottom: 47px;
}
.direction__list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.direction__items {
    margin-bottom: 25px;
}
.direction__items:first-child {
    text-decoration: underline;
}
.direction__items_link {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}
.partition__interior {
    position: absolute;
    top: -112px;
    left: 505px;
    height: 1100px;
    flex-basis: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.partition__interior_image {
    margin: 19px;
}
.partition__interior_image:first-child {
    margin-top: 70px;
}
.clients__container {
    max-width: 1264px;
    margin: 0 auto;
}
.clients__content {
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.clients__title {
    color: #181818;
}
.clients__text-content {
    margin-top: 0;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
}
.clients__partition {
    display: flex;
    flex-direction: row;
}
.clients__shell {
    display: flex;
    flex-direction: column;
}
.clients__block {
    margin-right: 54px;
    width: 376px;
    height: 428px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
}
.clients__block:last-child {
    margin-right: 0;
}
.clients__block_data {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.clients__block_data_photo {
    border-radius: 50%;
}
.clients__block_data_name {
    padding-left: 20px;
    line-height: 23px;
    color: #181818;
    text-transform: capitalize;
}
.clients__block_text-content {
    margin-left: 20px;
    margin-right: 31px;
    font-size: 13px;
    line-height: 23px;
    color: #959595;
}
.clients__button {
    margin-top: -27px;
    width: 294px;
    height: 54px;
    background: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.clients__button_size {
    width: 135px;
    border-right: 0.75px solid #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.clients__button_days {
    width: 158px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.clients__button_image {
    width: 32px;
    height: 32px;
    margin-right: 15px;
}
.section__background {
    height: 354px;
    background: url("../image/bg07.png");
    background-position: center;
    background-size: cover;
    opacity: 0.05;
}
.questions__container {
    max-width: 1256px;
    margin: 0 auto;
    position: relative;
}
.question__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.questions__iquirer {
    position: absolute;
    top: -222px;
    width: 883px;
    height: 445px;
    background: #181818;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.iquirer__items_label {
    color:  rgba(255, 255, 255, 0.5);
}
.iquirer__form_items {
    width: 520px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.iquirer__items_input {
    margin-bottom: 48px;
    color: #ffffff;
    width: 231px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.iquirer__items_input::placeholder {
    color: #ffffff;
}
.iquirer__items_input2 {
    margin-bottom: 48px;
    color: #ffffff;
    width: 516px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.iquirer__items_input2::placeholder {
    color: #ffffff;
}
.iquirer__form_checkbox {
    padding: 0;
    margin: 0 auto;
}
.iquirer__form_button {
    width: 200px;
    height: 51px;
}
.questions {
    background: url("../image/bg06.png");
    position: relative;
    background-size: cover;
    height: 953px;
}
.questions::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
}
.questions__title {
    margin-top: 257px;
    color: #e3b873;
    text-align: center;
}
.questions__soc-network {
    margin: 26px auto 35px auto;
    display: flex;
    flex-direction: row;
}
.d_y {
    display: none;
}
.questions__number {
    text-decoration: none;
}
.questions__soc-network_icon {
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e3b873;
    width: 28px;
    height: 28px;
    border-radius: 50%;
}
.footer {
    padding-top: 25px;
    background: #181818;
    height: 133px;
}
.items__link_selected {
    color: #e3b873;
}

@media screen and (max-width: 1300px) {
    .navigation__navigation,
    .navigation__button,
    .projects__list,
    .projects__column1_scroll,
    .types__partition2,
    .types__partition3,
    .direction__list,
    .partition__interior,
    .fantasies::before,
    .clients,
    .questions::before,
    .d_n,
    .footer {
        display: none;
    }
    /* body {
        min-width: 510px;
    } */

    /*--HEADER--*/
    .header {
        display: flex;
        justify-content: center;
    }
    .navigation_content{
        width: 500px;
        margin: 0 18px;
    }
    .navigation__number {
        color: #ffffff;
        text-decoration: none;
    }
    /*--FRONT--*/
    .front {
        height: 100%;
        background-position: center;
    }
    .front__content {
        width: max-content;
        padding: 75px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .front__button {
        margin: 26px 0;
        width: 100%;
    }
    .front__button-transparent {
        margin: 0 auto;
        width: 100%;
    }
    .front__button-transparent::before {
        content: 'application';
    }

    /*--PROJECTS--*/

    .projects__container {
        height: auto;
    }
    .projects__content {
        width: max-content;
        padding: 0;
    }
    .projects__columns {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .projects__column1 {
        align-items: center;
    }
    .projects__column1_title,
    .projects__column1_text-content {
        text-align: center;
    }
    .projects__column1_specification {
        order: 2;
        justify-self: flex-start;
        width: 500px;
    }
    .projects__column2 {
        position: relative;
        margin: 0 0 50px 0;
    }
    .column2__image {
        max-width: 500px;
    }
    .projects__column2_scroll {
        width: 500px;
        position: absolute;
        display: flex;
        justify-content: space-between;
        top: 50%;
        transform: translate(0,-50%)
    }
    .column2__scroll {
        margin: 0 15px;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #e3b873;
        border-radius: 50%;
    }

    /*--CONTROL--*/

    .control {
        margin: -1px auto;
        background: #131313;
    }
    .control__container {
        max-width: 500px;
    }
    .control__player_image {
        max-width: 500px;
    }
    .control__bottomline {
        margin: 30px auto;
    }
    .control__text-content {
        padding-bottom: 25pxpx;
        font-size: 14px;
        line-height: 30px;
        color: #FFFFFF; 
    }
    .control__form_items{
        width: 500px;
        margin: -25px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .control__items_field {
        order: 1;
    }
    .control__items_button {
        width: 500px;
        order: 3;
    }
    .control__checkbox {
        align-self: flex-start;
        order: 2;
        padding-bottom: 60px;
    }
    .control__items_input {
        width: 500px;
        color: #ffffff80;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }
    .control__items_field {
        margin-top: 62px;
        padding-right: 0;
    }
    .control__items_input::placeholder {
        color: #ffffff;
    }
    .control__items_label {
        color: #FFFFFF80
    }
    .control__form_checkbox_label {
        color: #ffffff;
    }

    /*--TYPES--*/

    .partition1__block {
        align-items: flex-start;
    }
    .types__container {
        padding-top: 70px;
    }
    .types__partition1 {
        flex-direction: column;
    }

    /*--FANTASIES--*/

    .fantasies {
        margin-top: 0;
        height: auto;
        background: none;
    }
    .fantasies__partition {
        position: unset;
        padding: 0;
        flex-direction: column;
        align-items: center;
    }
    .partition__direction {
        text-align: center;
        margin-top: 55px;
        margin-left: 0;
    }
    .partition__interior_mobile {
        position: relative;
        display: flex;
    }
    .partition__interior_image2 {
        margin: 0;
        width: 500px;
    }

    .section__background {
        z-index: -1;
        margin-top: -150px;
        background-image: none;
        background: #181818;
        opacity: 1;
    }
    /*--QESTIONS--*/

    .questions {
        background: none;
        /* z-index: -1; */
    }
    .questions__container {
        max-width: none;
        margin-top: -150px;
        background: #181818;
    }
    .questions__iquirer {
        order: 1;
        width: auto;
        position: unset;
    }
    .iquirer__form_items {
        width: 500px;
        flex-direction: column;
        align-items: flex-start;
    }
    .iquirer__items_input,
    .iquirer__items_input2 {
        width: 500px;
    }
    .iquirer__form_checkbox {
        margin: 0;
        padding-bottom: 76px;
    }
    .iquirer__form_button {
        width: 500px;
    }
    .questions__title {
        width: 400px;
        order: 3;
        margin: 0;
    }
    .d_y {
        display: inline;
    }
    .questions__soc-network {
        order: 3;
    }
    .question__map {
        margin: 40px auto;
        width: 500px;
        order: 2;
    }
}

@media screen and (max-width: 550px) {
    body {
        min-width: 375px;
    }
    .title {
        font-size: 23px;
        line-height: 132%;
    }
    .subtitle,
    .middle {
        font-size: 22px;
    }
    .small {
        font-size: 14px;
    }

    /*--HEADER--*/
    .navigation_content {
        width: 340px;
    }

    /*--FRONT--*/

    .front__content {
        width: max-content;
        padding: 75px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .front__text-content {
        font-size: 14px;
        line-height: 19px;
    }

    /*--PROJECTS--*/
    .projects__columns {
        margin-top: 30px;
    }
    .projects__column1_text-content {
        font-size: 11px;
        line-height: 17.5px;
    }
    .projects__column1_specification {
        width: 340px;
    }
    .column1__specification {
        width: 170px;
    }
    .column2__image {
        max-width: 340px;
    }
    .projects__column2_scroll {
        width: 340px;
    }

    /*--CONTROL--*/

    .control__container {
        max-width: 375px;
    }
    .control__player_image {
        max-width: 340px;
    }
    .control__player_play {
        width: 12px;
        height: 12px;
    }
    .control__player_button {
        width: 37px;
        height: 37px;
    }
    .control__text-content {
        width: 340px;
        font-size: 11px;
        line-height: 18.6px;
        padding-bottom: 30px;
    }
    .control__items_button {
        width: 340px;
    }
    .control__items_input {
        width: 340px;
    }
    .control__form_items{
        width: 340px;
    }

    /*--TYPES--*/

    .partition1__block_image {
        width: 340px;
    }
    .partition1__info {
        width: 270px;
        height: 241px;
    }
    .partition1__list {
        font-size: 13px;
        line-height: 22px;
    }
    .partition1__button {
        width: 190px;
        height: 40px;
    }

    /*--FANTASIES--*/
    
    .partition__interior_image2 {
        margin: 0;
        width: 340px;
    }

    /*--QESTIONS--*/
    
    .questions__container {
        margin-top: -102px;
    }
    .questions__iquirer {
        height: auto;
    }
    .iquirer__form_items {
        width: 340px;
    }
    .iquirer__title {
        margin-bottom: 90px
    }
    .iquirer__items_input,
    .iquirer__items_input2 {
        width: 340px;
    }
    .iquirer__form_button {
        width: 340px;
    }
    .questions__title {
        font-size: 18px;
        width: 340px;
    }
    .question__map {
        width: 340px;
    }
}







